/* Yleiset tyylit */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #2e2e2e;
  color: #fff;
  background-image: url("images/wallpaper.jpg"); /* Polku kuvalle */
  background-size: cover; /* Varmistaa, että kuva peittää koko taustan */
  background-position: center; /* Keskittää kuvan */
  background-attachment: fixed; /* Pitää kuvan paikallaan vierittäessä */
}

/* Otsikko ja navigaatio */
header {
  background: transparent; /* Läpinäkyvä tausta */
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background: transparent; /* Läpinäkyvä tausta */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background: #fff; /* Tumman taustan hover-efekti */
  border-radius: 5px;
}

/* Pääsisältö */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background: transparent; /* Läpinäkyvä tausta */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Alatunniste */
footer {
  text-align: center;
  padding: 10px 0;
  background: transparent; /* Läpinäkyvä tausta */
  color: #135000;
  margin-top: 20px;
}

/* Yleinen tyyli painikkeille */
.button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease; /* Sileä siirtymä */
  text-align: center;
}

/* Facebook-painike */
.facebook {
  background-color: #3b5998; /* Facebookin väri */
}

/* Instagram-painike */
.instagram {
  background-color: #e1306c; /* Instagramin väri */
}

/* LinkedIn-painike */
.linkedin {
  background-color: #0077b5; /* LinkedInin väri */
}

/* Hover-efekti kaikille painikkeille */
.button:hover {
  box-shadow: 0 0 15px 5px #00ff00; /* Hohtava vihreä varjo */
  border-color: #00ff00; /* Vihreä reunus */
  color: #00ff00; /* Vihreä teksti */
}
