/* Yleiset tyylit */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #2e2e2e;
  color: #fff;
  background-image: url("images/matrix2.jpg"); /* Polku kuvalle */
  background-size: cover; /* Varmistaa, että kuva peittää koko taustan */
  background-position: center; /* Keskittää kuvan */
  background-attachment: fixed; /* Pitää kuvan paikallaan vierittäessä */
}

/* Otsikko ja navigaatio */
header {
  background: transparent; /* Läpinäkyvä tausta */
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background: transparent; /* Läpinäkyvä tausta */
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background: #000000; /* Tumman taustan hover-efekti */
  border-radius: 5px;
}

/* Pääsisältö */
main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  background: transparent; /* Läpinäkyvä tausta */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Alatunniste */
footer {
  text-align: center;
  padding: 10px 0;
  background: transparent; /* Läpinäkyvä tausta */
  color: #3cee05;
  margin-top: 20px;
}
